<!DOCTYPE html>
<html>
<head>
    <title>Kaizen Help-Me</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <main>
        <nav>
            <div class="logo">
                <img src="static/logo_novo.png" alt="Kaizen Help-Me">
            </div>
            <div class="title">
                <h1>Kaizen Help-Me</h1>
            </div>
        </nav>
        <div class="chat">
        </div>
        <div class="input-box">
            <input type="text" id="input" placeholder="Pergunte me algo..">
            <button id="send">
                <img src="static/send.png" alt="Send">
            </button>
        </div>
    </main>
    <script src="static/index.js"></script>
</body>
</html>
